.section-about {
  padding-top: 50px;
  padding-bottom: 94px;
}
.list-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;

& > .item-img {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  }
}
  
.container-product {
position: relative;
}
.product {
@include font(14px, 700, 16px);
position: absolute;
width: 100%;
bottom:0%;
left: 0%;
padding: 27px 20px;
transform:translate(0%);
background: rgba(47, 48, 58, 0.8);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#FFFFFF;
}