.clients-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
  
.icon-client {
  fill:#afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

.link-icon-client:hover &,
.link-icon-client:focus & {
  fill: #2196F3;
 }
}
  
.clients-list {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-right: -30px;
}
  
.clients-item { 
  margin-top: 30px;
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);
}
.link-icon-client {
  display: flex;  
  align-items:center;  
  justify-content: center;
  width: 100%;
  height: 90px;
  border: 1px solid rgba(175,177,184,1);
  border-radius: 4px;

  &:hover,
  &:focus {
  border-color:#2196F3;
  }
}
  
