.footer-adress {
  background: var(--background-color);
}
.adress-item {
  padding-top: 20px;
}
.footer-adress-list{
  background: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.site-adress {
  color: var(--white-color);
}
.feed-back-item {
  padding-top: 9px;
}
.feed-back {
  color: var(--feed-back-color);
}

.footer-adress{
  padding: 60px 0px;
}

.container-adress{
  width: 270px;
  align-items: center;
}

.site-adress {
  color: var(--white-color);
}
.feed-back {
  color: var(--feed-back-color);
}