.modal-box {
    position: relative;
    overflow: hidden;
  }
  .text-modal-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    background-color:rgba(33, 150, 243,0.8);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .link-content-portfolio:hover &, 
    .link-content-portfolio:focus & {
    transform: translateY(0%);
    }
  } 
  
  .call-to-action {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
    
  .contact-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
    
  .contact-label {
    font-size: 12px;
  }
  
  
  .container-contact-form {
    position: relative;
    display: block;
    margin-top: 4px;
  }
  .form-field-input {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  
    &:focus {
    outline: none ;
    border-color: #2196F3;
    }
  }
  .contact-form-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  
  .form-field-input:focus ~ & {
    fill: #2196F3;
    }
  }
    
  .field-for-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius:4px;
    border-color: 1px solid rgba(33, 33, 33, 0.2);
  
  &::placeholder {
    color:rgba(117, 117, 117, 0.5);
    }
  }
  
  .contact-policy-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#757575;
      
  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    background-image: url(../images/icons/agree.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    }
  }
    
  .checkbox:checked + .contact-policy-label::before {
    background-color: #2196F3;
    border:#2196F3;
  }
  
  .contract-terms {
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .button-submit {
    align-self: center;
  }
  
  .form-field-button {
    text-align: center;
    margin-top: 30px;
    min-width: 200px;
    padding: 10px 55px;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor:pointer;
  }