
.portfolio-link::after {
  width: 78px;
}

.site-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-items {
  margin-left: 8px;
}
 .button {
  color: var(--title-text-color);
  margin: 0 auto;
  padding: 6px 22px;
  background-color: var(--buttons-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: #ffffff;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

.site-buttons &:hover,
.site-buttons &:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  padding: 94px 0px;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
}
.list-content-item {
  max-width: 370px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;

&:not(:nth-child(3n)) {
  margin-right: 30px;
}
&:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
}

.content-portfolio {
  padding: 20px 24px;
}

.link-content-portfolio {

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

&:hover,
&:focus {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.list-content .project-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
.list-content .type {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}